<h1>ドラフト候補選手一覧</h1>

<div class="players-index">
  <% if @players.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>名前</th>
          <th>カテゴリ</th>
          <th>所属</th>
          <th>ポジション</th>
          <th>投打</th>
          <th>身長/体重</th>
          <th>年齢</th>
          <th>ドラフト結果</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td>
              <strong><%= player.name %></strong><br>
              <small><%= player.name_kana %></small>
            </td>
            <td><%= player.category.humanize if player.category %></td>
            <td><%= player.affiliation %></td>
            <td>
              <%= player.positions.map(&:short_name).join(", ") %>
            </td>
            <td><%= player.pitching_batting.humanize if player.pitching_batting %></td>
            <td>
              <% if player.height || player.weight %>
                <%= "#{player.height}cm" if player.height %>
                <%= "#{player.weight}kg" if player.weight %>
              <% end %>
            </td>
            <td><%= "#{player.age}歳" if player.age %></td>
            <td>
              <% if player.draft_results.any? %>
                <% player.draft_results.each do |result| %>
                  <div>
                    <%= result.year %>年
                    <% if result.team %>
                      <%= result.team.short_name %>
                      <%= "#{result.draft_round}位" if result.draft_round %>
                      <%= "(育成)" if result.training_player %>
                    <% else %>
                      未指名
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                未登録
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>ドラフト候補選手が登録されていません。</p>
  <% end %>
</div>
